body {
  font-family: "DM Sans", sans-serif;
  background-color: #f9f9f9;
}
h1 {
  color: #ef7e56;
  font-weight: 700;
  line-height: 35px;
  font-size: 44px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  color: #305973;
  list-style: none;
  line-height: 19px;
  font-weight: 400;
  font-size: 16px;
}
li::first-letter {
  text-transform: capitalize;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 10px;
  float: left;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 40px auto;
}
.weather-app {
  padding: 15px;
  border: 3px solid #305973;
  border-radius: 15px;
  background-color: white;
}
.weather-temperature strong {
  color: #305973;
  font-size: 80px;
  line-height: 1;
  font-weight: 700;
}
.weather-temperature .units {
  color: #305973;
  position: relative;
  font-size: 16px;
  top: -48px;
}
.weather-temperature .active {
  color: #305973;
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: none;
  color: #ef7e56;
}
